/* styles.css */


.header {
  margin: 0;
  padding: 0;
}

.introduction{
  background-color: rgb(223, 220, 216);
}

.btn.custom-btn {
 background-color: #0056b3; /* Darker blue color on hover */
  border-color: #0056b3; /* Darker border color on hover */
}

.btn.custom-btn:hover {
  
  background-color: #093564; /* Dark blue color */
  border-color: #19589c; /* Dark blue border color */
}

/*Controls the body and the style of the writing overall*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 0;
    padding: 0;
    padding-bottom: 70px;    
}
.container.mt-5{
  margin-top: 0em;
}

.container{
    max-width: 500px; /* Adjust the maximum width as needed */
    margin-right: auto;
    margin-left: auto;
}
.aboutme{
  margin-left: 15%;
  margin-right: 20%;
  font-size: large;
}

.title{
  text-align: center;
}

/*Controls the layout of the website specifically the bottom where the footer is*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
}
.card{
  margin-bottom: 1rem;
}
/*Section controlling contact section*/
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    font-size: 20px;
  }
  .contact-section {
    width: 45%; /* Adjust width as needed */
  }
  
  .accounts {
    width: 45%; /* Adjust width as needed */
  }

  


.dark-mode {
    background-color: black;
    color: white;
}
/*The top is used to make the button on the top right in the future if I want to apply dark mode option */
.top{
    position: absolute;
    top: 10px;
    right: 10px;
}
