/* styles.css */

.main{
    padding-bottom: 20px 0;
}

/*Controls the body and the style of the writing overall*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;    
}

.container{
    max-width: 600px; /* Adjust the maximum width as needed */
    margin-right: auto;
    margin-left: auto;
}
/*Controls the layout of the website specifically the bottom where the footer is*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
}
/*Section controlling contact section*/
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    font-size: 20px;

  }
  
  .contact-section {
    width: 45%; /* Adjust width as needed */
  }
  
  .accounts {
    width: 45%; /* Adjust width as needed */
  }

  .cards{
    margin-bottom: 2rem;
  }
  
.dark-mode {
    background-color: black;
    color: white;
}

.top{
    position: absolute;
    top: 10px;
    right: 10px;
}
